{% extends 'base.html' %}

{% block header %}
<div class="text-center text-capitalize fs-3">{% block title %}Register{% endblock %}</div>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
<form method="post" class="w-50">
     <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="firstname" class="col-form-label">First Name</label>
        </div>
        <div class="col-auto">
            <input type="text" id="firstname" class="form-control" required>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="lastname" class="col-form-label">Last Name</label>
        </div>
        <div class="col-auto">
            <input type="text" id="lastname" class="form-control" >
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="email" class="col-form-label">Email address</label>
        </div>
        <div class="col-auto">
            <input type="email" id="email" class="form-control" required>
        </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="password" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
            <input type="password" id="password" class="form-control" aria-describedby="passwordHelpInline" required>
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                Must be 8-20 characters long.
            </span>
        </div>
    </div>
    <input class="form-control  btn btn-success" type="submit" value="Submit">
</form>
</div>
{% endblock %}