{% extends 'base.html' %}

{% block header %}
<div class="text-center text-capitalize fs-3">{% block title %}Register{% endblock %}</div>
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
<form method="post" class="w-50">
    <div class="input-group mb-3">
        <label class="input-group form-label fst-italic" for="firstname">First Name</label>
        <input class="form-control" type="text" name="firstname" id="firstname"  required>
    </div>
    <div class="input-group mb-3">
        <label class="input-group form-label fst-italic" for="lastname">Last Name</label>
        <input class="form-control" type="text" name="lastname" id="lastname"  placeholder="(optional)">
    </div>

    <div class="input-group mb-3">
        <label class="input-group form-label fst-italic" for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email"  required>
    </div>

    <div class="input-group mb-3">
        <label class="input-group form-label fst-italic" for="tel">Phone Number</label>
        <span class="input-group-text" id="tel">+234</span>
        <input type="tel" name="tel" class="form-control">
    </div>

    <div class="input-group mb-3">
       <label for="state" class="input-group form-label fst-italic">State</label>
        <select id="state" name="state_name" class="form-select" required>
            <option value="" disabled selected hidden>Choose...</option>
            {% for code, state_name in state %}
            <option value="{{ code }}">{{ state_name }}</option>
            {% endfor %}
       </select>
    </div>

    <div class="input-group mb-3">
       <label for="state" class="input-group form-label fst-italic">Gender</label>
        <select id="gender" name="gender" class="form-select" required>
            <option>Male</option>
            <option>Female</option>
       </select>
    </div>



    <div class="input-group mb-3">
        <label class="input-group form-label fst-italic" for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password"  required>
    </div>

    <div class="input-group mb-3">
        <label class="input-group form-label fst-italic" for="password">Re-type password</label>
        <input class="form-control" type="password" name="retype" id="retype"  required>
    </div>
      <input type="submit" value="Submit" class="btn btn-success fw-semibold form-control mb-4">
</form>
</div>
{% endblock %}